--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.12.1+cu113
torchvision==0.13.1+cu113
torchaudio==0.12.1
opencv-python
matplotlib
scikit-learn
scikit-image
seaborn
tensorflow
tensorboard
numpy==1.26.4
vesuvius