--extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.1+cu117
torchvision==0.14.1+cu117
opencv-python
matplotlib
scikit-learn
scikit-image
seaborn
tensorflow
tensorboard
numpy==1.26.4
vesuvius
ipykernel